--extra-index-url https://nexus.in.sensi.ai/repository/sensi-pypi/simple
mailchimp_transactional
requests==2.23.0
twilio==6.50.1
exponent_server_sdk==2.0.0
sentry-sdk==1.4.3
rollbar==0.15.2
retry==0.9.2
sensicommon==0.8.35
sensi-logger==0.4.0

loguru~=0.5.3